<style>
	.outerDiv
	{
		background-color: #006699;
		color: #fff;
		height: 400px;
		width: 600px;
		margin: 0px auto;
		padding: 5px;
	}
	.leftDiv
	{
		background-color: #efefef;
		color: #000;
		height: 400px;
		width: 48%;
		float: left;
	}
	.rightDiv
	{
		background-color: #efefef;
		color: #000;
		height: 400px;
		width: 48%;
		float: right;
	}
</style>
