{% extends 'example/base.html' %}

{% block content %}
<div style="background-color: darkkhaki;height: 400px;">
<center>
  <hr>
    <a href="{% url 'example:log_out' %}"><p align="right"> Log out </p></a>
  <hr>
    <h1>Hi..  {{ user.username }}</h1>
</center>
<table  border="2" align="left">
<tbody>
<tr>
<td align="center"><span style="color: #ff0000;">username</span></td>
<td align="center"><span style="color: #ff0000;">user status</span></td>
</tr>
<tr></tr>
{% for uname in users %}
<tr>
    {% if uname == username %}
    <td width="100px" style="color:green;" align="center" class="abc"> {{ uname.username|default:'None' }}*</td><td width="100px" style="color:green;" align="center"> {{ uname.status|default:'Offline' }}</td>
    {% else %}
    <td width="100px"> <input id="{{ uname }}" type="button" class="{{ uname }}" value="{{ uname }}" style="width: 10em;"></td><td width="100px" align="center"> {{ uname.status|default:'Offline' }}</td>
  {% endif %}
    <script>
        document.querySelector('#{{ uname }}').onclick = function (e) {
                var uname=(document.querySelector('#{{ uname }}').className);
                var roomname= (uname+ "{{ user.username }}");
                var strroom = roomname.toString();
                var z= strroom.split("").sort();
                var dom='';
                for (i=0;i<z.length;i++){
                    dom=dom+z[i];
                }
                window.location.pathname = '/chat/' + dom + '/';
            };
    </script>
</tr>
{% endfor %}
</tbody>
</table>
<center>
<div style="background-color: greenyellow; width: 400px; height: 100px;">
         What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" placeholder="Enter a room name"><br/>
    <input id="room-name-submit" type="button" value="Enter">
</div>
    <div>
        <table  border="2" align="right">
        <tbody>
        <tr>
        <td align="center"><span style="color: #ff0000;">Rooms</span></td>
        </tr>
        <tr></tr>
        {% for room in rooms %}
        <tr>
<!--            <td width="100px" align="center" > {{ room }}</td>-->
            <td width="100px"> <input id="{{ room }}" type="button" class="{{ room }}" value="{{ room }}" style="width: 10em;"></td>
            <script>
             document.querySelector('#{{ room }}').onclick = function (e) {
                var pre_room=(document.querySelector('#{{ room }}').className);

                window.location.pathname = '/chat/' + pre_room + '/';
            };
            </script>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</center>
</div>

{% endblock content %}

{% block script %}
  <script>

    //============================
            document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };

        //-------------------------------------------
        document.querySelector('.abc').onclick = function (e) {
            alert("You can not chat with yourself. please chose different online user!")
            };
        //-------------------------------------------

           //==============================

  var user = '{{ username }}';
    var socket = new WebSocket('ws://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['username']);
      var user = $('li').filter(function () {
        return $(this).data('username') == username;
      });

      if (data['is_logged_in']) {
        user.html(username + ': Online');
      }
      else {
        user.html(username + ': Offline');
      }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %} %}